@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.left-slide .content:nth-of-type(1) {
  background-color: orange;
}

.left-slide .content:nth-of-type(2) {
  background-color: burlywood;
}

.left-slide .content:nth-of-type(3) {
  background-color: firebrick;
}

.left-slide .content:nth-of-type(4) {
  background-color: pink;
}

.left-slide .content:nth-of-type(5) {
  background-color: lightsalmon;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.content-image:nth-of-type(1) {
  background-image: url('https://images.unsplash.com/photo-1574786879814-8d498f7dd56c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80');
}

.content-image:nth-of-type(2) {
  background-image: url('https://images.unsplash.com/photo-1529654674248-a940ce22fe51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}

.content-image:nth-of-type(3) {
  background-image: url('https://images.unsplash.com/photo-1591608971362-f08b2a75731a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
}

.content-image:nth-of-type(4) {
  background-image: url('https://images.unsplash.com/photo-1588508435560-585279aa19de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80');
}

.content-image:nth-of-type(5) {
  background-image: url('https://images.unsplash.com/photo-1615752306634-0ba647760db5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
}

button {
  background-color: white;
  border: none;
  color: #aaa;
  font-size: 16px;
  cursor: pointer;
  padding: 15px;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.container .buttons .button-down {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container .buttons .button-up {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
